<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio" href="/app/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registrar" href="/app/registrar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" href="/app/historial">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" href="/app/estadisticas">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>